<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">   
        
        {{!-- jQuery CDN --}}
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>      

         {{!-- jQuery CDN --}}
        <script src="https://code.jquery.com/jquery.js"></script>   

        {{!-- bootstrap --}}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

          {{!-- External jQuery --}}
         <script src="/assets/js/domburger.js"></script>

        {{!--External CSS --}}
        <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />

         <title>Eat-da-Burgers!</title>



    </head>

    <body>

      
         {{{ body }}}
   

   </body>

</html>