<div class="row">
  <center>
    <!-- Left side (ready to eat) -->
    <div class="col-md-6">
      <h4 class="red_font">Ready to eat!</h4>
      <div id="ready_to_eat">

           <!-- Dynamically Insert Ready Burgers Here -->
            {{#each burgers}}