<div class="container wrapper">
    <div class="jumbotron text-center">
      <h1 class="display-3"><strong> Eat-Da-Burger</strong></h1>
      <p class="lead mt-4"><i aria-hidden="true"></i>CHI-TOWN'S BEST!!</p>     
    </div>
    <div class="img-container">
           <img src="/assets/img/burger.png" height="250" width="auto" alt="burger image">
    </div><br>
    <div class="row text-center">
      <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-header">
          Add a Burger
        </div>
        <div class="card-body">
          <form class="create-form">
            <div class="form-group">
            <input type="text" id="name" name="burgerName">
            </div>
            <button type="submit" class="btn btn-info">Submit</button>
            <p><small>Enter a burger you want to eat! Click the submit button.</small></p>
          </form>
        </div>
      </div>      
    </div>
  </div> 
  <div class="row mt-4">
    <div class="col-6">
      <div class="card">
        <div class="card-header text-center">
          Burgers Waiting To Be Devoured</div>
        <div class="card-body">
          <p class="card-text">
            <ul>
              {{#each burgers}}
                {{#unless devoured}}
                <li>
                <div class="row">
                  <div class="col">
                  {{ burger_name }}
                  </div>
                </div>   
                <div class="col">
                   <button class="btn btn-warning  btn-sm devour-btn" data-id={{id}} data-status={{devoured}}>🍔Devour It!</button>
                   </div> 
                </li>
                {{/unless}}
              {{/each}}
            </ul>
          </p>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-header text-center">
          Burgers Already Devoured
        </div>
        <div class="card-body">
          <p class="card-text">
            <ul>
              {{#each burgers}}
                {{#if devoured}}
                <li>
                {{ burger_name }} 
                </li>
                {{/if}}
              {{/each}}
            </ul>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
